* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  margin: 0;
  padding-top: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #000;
  background:#fff;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1em;
  margin: 1em 0 3em 0;
  cursor: pointer;
  background: #fff;
}

.btn:hover {
  border-color: #333;
  color: #333;
}

.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s, visibility 0s;
  -ms-transition: opacity 0.2s, visibility 0s;
  -o-transition: opacity 0.2s, visibility 0s;
  transition: opacity 0.2s, visibility 0s;
}

/*lightbox, full width, almost full height, purple bg */
.lightbox {
  position: fixed;
  top: 5%; 
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background: #fff;
}

.lightboxHide {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.24);
  -ms-transform: scale(1.24);
  -o-transform: scale(1.24);
}

.lightboxShow {
  background: #551a8b;
}

.lightboxPic {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
}

.lightboxPicSrc {
  height: auto;
  width: auto;
}

.lightboxTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1em;
  margin: 0;
  text-align: center;
  font-size: 11px;
  color: #fff;
  background: #000;
}

/*grid*/
.grid {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.grid-box {
  display: block;
  -webkit-flex: 0 0 29%;
  flex: 0 0 29%;
  height: 200px;
  margin: 2%;
  margin-bottom: 2em;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

footer {
  color:purple;
}
a {
  color:blue;
}
a:hover {
  color:green;
}
a:visited {
  color:red;
}

